<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('partials/myHead.ejs') %>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <title>Home-Twitter</title>
  </head>
  <body>
    <main class="main">
      <header class="main__header--left">
        <div class="header__menu">
          <div class="header__menu--twitter">
            <img
              src="/img/twitter.svg"
              alt="logo_twitter"
              class="img__twitter"
            />
          </div>
          <div class="header__menu--items">
            <a href="#" class="header__menu--link">
              <img src="/img/home.svg" alt="img_home" class="img__menu" />
              <span>Inicio</span>
            </a>
          </div>
          <div class="header__menu--items">
            <a href="#" class="header__menu--link">
              <img src="/img/explore.svg" alt="img_home" class="img__menu" />
              <span>Explorar</span>
            </a>
          </div>
          <div class="header__menu--items">
            <a href="#" class="header__menu--link">
              <img
                src="/img/notifications.svg"
                alt="img_home"
                class="img__menu"
              />
              <span>Notificaciones</span>
            </a>
          </div>
          <div class="header__menu--items">
            <a href="#" class="header__menu--link">
              <img src="/img/messages.svg" alt="img_home" class="img__menu" />
              <span>Mensajes</span>
            </a>
          </div>
          <div class="header__menu--items">
            <a href="#" class="header__menu--link">
              <img src="/img/saves.svg" alt="img_home" class="img__menu" />
              <span>Guardados</span>
            </a>
          </div>
          <div class="header__menu--items">
            <a href="#" class="header__menu--link">
              <img src="/img/list.svg" alt="img_home" class="img__menu" />
              <span>Listas</span>
            </a>
          </div>
          <div class="header__menu--items">
            <a href="/homeUser" class="header__menu--link">
              <img src="/img/profile.svg" alt="img_home" class="img__menu" />
              <span>Perfil</span>
            </a>
          </div>
          <div class="header__menu--items">
            <a href="#" class="header__menu--link">
              <img src="/img/more.svg" alt="img_home" class="img__menu" />
              <span>Más opciones</span>
            </a>
          </div>
          <div class="header__menu--btn">
            <button class="btn__menu" type="submit">Twittear</button>
          </div>
          <form action="/logout" method="post">
            <div class="header__menu--btn">
              <button type="submit" class="btn__logOut" type="submit">
                LogOut
              </button>
            </div>
          </form>
        </div>
      </header>
      <main class="main__section">
        <a href="#" class="main__section--link--tweet">
          <button id="edit-btn" class="btn__edit">Editar perfil</button>
          <div id="edit-container" class="edit-container ocultar">
            <form action="/homeUser" method="post">
              <h5>Descripción</h5>
              <textarea
                name="description"
                rows="10"
                cols="40"
                placeholder="Escribe aquí tu descripción"
              >
<%= user.description %> </textarea
              >
              <button type="submit" class="btn__guardar">
                Guardar cambios
              </button>
            </form>
          </div>
          <div class="tweet">
            <img
              src="<%= user.avatar %> "
              alt="image_girl"
              class="tweet__author--img"
            />
            <section class="tweet__section">
              <div class="tweet__header">
                <div class="tweet__author--name">
                  <span><%= user.firstname %> </span>
                </div>
                <div class="tweet__author--nickname">
                  <span><%= user.email %> </span>
                </div>
                <div class="tweet__author--date">
                  <span>4h</span>
                </div>
              </div>
              <div class="tweet__content">
                <p><%= user.description %></p>
                <img
                  class="tweet__content--img"
                  src="/img/imagen2.jpg"
                  alt=""
                />
              </div>
              <div class="tweet__footer">
                <div class="tweet__footer--icon">
                  <button
                    type="submit"
                    class="tweet__footer--btn tweet__footer--btn--response"
                  >
                    <img
                      src="/img/response.svg"
                      alt="image_dialog"
                      class="tweet__footer--img tweet__footer--img--response"
                    />
                  </button>
                </div>
                <div class="tweet__footer--icon">
                  <button
                    type="submit"
                    class="tweet__footer--btn tweet__footer--btn--retweet"
                  >
                    <img
                      src="/img/retweet.svg"
                      alt="image_dialog"
                      class="tweet__footer--img"
                    />
                  </button>
                </div>
                <div class="tweet__footer--icon">
                  <button
                    type="submit"
                    class="tweet__footer--btn tweet__footer--btn--like"
                  >
                    <img
                      src="/img/like.svg"
                      alt="image_dialog"
                      class="tweet__footer--img"
                    />
                  </button>
                </div>
                <div class="tweet__footer--icon">
                  <button
                    type="submit"
                    class="tweet__footer--btn tweet__footer--btn--share"
                  >
                    <img
                      src="/img/share.svg"
                      alt="image_dialog"
                      class="tweet__footer--img"
                    />
                  </button>
                </div>
              </div>
            </section>
          </div>
        </a>
      </main>
      <aside class="main__aside">
        <section class="main__aside--right">
          <input
            type="search"
            name="search"
            class="search"
            id="search"
            placeholder="Buscar en Twitter"
          />
          <div class="aside__trends">
            <div class="aside__trends--title">
              <span>Qué está pasando</span>
            </div>
            <div class="aside__trends--content">
              <div class="aside__trends--newsAditional">
                <span>Deportes · EN DIRECTO</span>
              </div>
              <div class="aside__trends--newsName">
                <span>Giro de Italia: Sigue toda la emoción de cada etapa</span>
              </div>
              <div class="aside__trends--newsAditional">
                <span>3272 Tweets</span>
              </div>
            </div>
            <div class="aside__trends--content">
              <div class="aside__trends--newsAditional">
                <span>Actores norteamericanos · Tendencia</span>
              </div>
              <div class="aside__trends--newsName">
                <span> Johnny Deep </span>
              </div>
              <div class="aside__trends--newsAditional">
                <span>103 mil Tweets</span>
              </div>
            </div>
            <div class="aside__trends--content">
              <div class="aside__trends--newsAditional">
                <span>Guerra en Ucrania · EN DIRECTO</span>
              </div>
              <div class="aside__trends--newsName">
                <span>
                  Fuerzas ucranianas logran repeler la ofensiva rusa sobre
                  Severodonetsk, según autoridades locales
                </span>
              </div>
              <div class="aside__trends--newsAditional">
                <span>3272 Tweets</span>
              </div>
            </div>
          </div>
          <div class="aside__whoFollow">
            <div class="aside__whoFollow--title">
              <span>A quién seguir</span>
            </div>
            <div class="aside__whoFollow--content">
              <img
                src="/img/img4.jpg"
                alt="image_citizen"
                class="aside__whoFollow--image"
              />
              <div class="aside__whoFollow--text">
                <div class="aside__whoFollow--name">
                  <span>Programación</span>
                </div>
                <div class="aside__whoFollow--nickName">
                  <span>@programadores</span>
                </div>
              </div>
              <div class="aside__whoFollow--button">
                <button type="submit" class="aside__whoFollow--btn">
                  Seguir
                </button>
              </div>
            </div>
            <div class="aside__whoFollow--content">
              <img
                src="/img/landscape.jpg"
                alt="image_citizen"
                class="aside__whoFollow--image"
              />
              <div class="aside__whoFollow--text">
                <div class="aside__whoFollow--name">
                  <span>Destinos</span>
                </div>
                <div class="aside__whoFollow--nickName">
                  <span>@turismo</span>
                </div>
              </div>
              <button type="submit" class="aside__whoFollow--btn">
                Seguir
              </button>
            </div>
            <div class="aside__whoFollow--content">
              <img
                src="/img/img6.jpg"
                alt="image_citizen"
                class="aside__whoFollow--image"
              />
              <div class="aside__whoFollow--text">
                <div class="aside__whoFollow--name">
                  <span>Tecnología</span>
                </div>
                <div class="aside__whoFollow--nickName">
                  <span>@hardware</span>
                </div>
              </div>
              <button type="submit" class="aside__whoFollow--btn">
                Seguir
              </button>
            </div>
          </div>
        </section>
      </aside>
    </main>

    <script
      src="https://kit.fontawesome.com/849e8c00db.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="/js/userProfile.js"></script>
  </body>
</html>
